@using Logistic.Base.Enums
@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Createuser";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="../../js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<body class="page-header-fixed page-quick-sidebar-over-content ">
    <div class="page-content-wrapper" style="min-height: 706px; margin-top: 60px;">
        <div class="page-content">
            @using (Html.BeginForm("CreateUser", "UserManagement", FormMethod.Post, new { id = "registerForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="form-title">Add New User</h3>
                <hr />
                <p class="hint">
                    Enter your personal details below:
                </p>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">First Name</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control placeholder-no-fix", @placeholder = "First Name", name = "FirstName" })

                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control placeholder-no-fix", @placeholder = "Last Name", name = "LastName" })

                </div>
                <div class="form-group">

                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email", name = "Email" })

                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Password", name = "Password" })

                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "Confirm Password", name = "ConfirmPassword" })

                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Address</label>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control placeholder-no-fix", @placeholder = "Address", name = "address" })

                </div>
           
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">City/Town</label>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control placeholder-no-fix", @placeholder = "City/Town", name = "city" })

                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Country</label>
                    @Html.DropDownListFor(m => m.Country, ViewBag.country as SelectList, "--Select Country--", new { @class = "form-control", name = "country" })

                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">User type Dropdown</label>
                    @Html.DropDownListFor(m => m.UserType, (from UserType e in Enum.GetValues(typeof(UserType)) select new SelectListItem { Text = e.ToString() }), "User Type", new { @class = "form-control" })

                </div>
   
                <div class="form-actions">

                    @Html.ActionLink("Back", "GetUser", "UserManagement", null, new { @class = "btn btn-default" })
                    <input type="submit" class="btn btn-success uppercase pull-right" value="Register" />

                </div>
            }
        </div>
    </div>
</body>
